# Ignore Python virtual environment folder
api/henv/

# Node modules for React
client/node_modules/

# Build output for React
client/build/

# Environment files
*.env

ffmpeg-2025-03-20-git-76f09ab647-essentials_build